BE_XML_DataGrid_POC/BE_XML_DataGrid_POC/Service References/ServiceReferenceDB/Service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="BE_XML_DataGrid" elementFormDefault="qualified" targetNamespace="BE_XML_DataGrid" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52478/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SQLResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TableColumns" nillable="true" type="q1:ArrayOfKeyValueOfstringTypeU6ho3Bhd" />
      <xs:element minOccurs="0" name="XmlQuerryResult" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SQLResult" nillable="true" type="tns:SQLResult" />
</xs:schema>