BE_XML_DataGrid_POC/BE_XML_DataGrid_POC/Service References/ServiceReferenceDB/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52478/Service.svc?xsd=xsd2" namespace="BE_XML_DataGrid" />
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableFromDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_sqlQuerry" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="BE_XML_DataGrid" minOccurs="0" name="GetTableFromDBResult" nillable="true" type="q1:SQLResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>